Repository technote-space/get-diff-action, pull requests merged in 2020-08, with the labels that each got.

#95 release: v2.0.3
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#102 chore: sync workflows
  .github/workflows/update-dependencies.yml
Labels: Status: In Progress, Type: CI/CD, Type: Maintenance

#104 chore: sync workflows
  .github/workflows/update-dependencies.yml
Labels: Status: In Progress, Type: CI/CD, Type: Maintenance

#103 feat: add input to specify regexp flags (#101)
  __tests__/utils/command.test.ts
  action.yml
  package.json
  src/utils/command.ts
Labels: Status: In Progress, Type: Feature, typescript

#105 Feature/#99
  __tests__/process.test.ts
  action.yml
  src/main.ts
  src/process.ts
Labels: Status: In Progress, Type: Feature, Type: Testing, typescript

#97 release: v3.0.0
  README.ja.md
  README.md
  __tests__/process.test.ts
  __tests__/utils/command.test.ts
  action.yml
  package.json
  src/main.ts
  src/process.ts
  src/utils/command.ts
  src/utils/misc.ts
  yarn.lock
Labels: Release: Major, Status: In Progress, Type: Release

#109 chore: sync workflows
  .github/workflows/broken-link-check.yml
Labels: Status: In Progress, Type: CI/CD, Type: Maintenance

#108 release: v3.0.1
  package.json
  yarn.lock
Labels: Release: Patch, Status: In Progress, Type: Release

#112 docs: mention 'FILES' in usage example
  README.md
Labels: Status: In Progress, Type: Documentation

#113 docs: update TOC (release/next-v3.0.1 -> master)
  README.ja.md
  README.md
Labels: Status: In Progress, Type: Documentation

#110 release: v3.1.0
  .github/workflows/ci.yml
  README.ja.md
  README.md
  __tests__/process.test.ts
  action.yml
  package.json
  src/process.ts
  src/utils/command.ts
  yarn.lock
Labels: Release: Minor, Status: In Progress, Type: Release
